server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_server_name }};

    root {{ app_root }}/dist;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|svg|ico|woff2?)$ {
        expires 7d;
        access_log off;
    }
}

